input[type=text] {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 8px;
    transition: 0.4s ease-in-out;
}

input[type=text]:focus {
    background-color: #e7e9ee;
    border: 3px solid black;
}

input[type=number] {
    width: 15%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 8px;
    transition: 0.4s ease-in-out;
}

input[type=number]:focus {
    background-color: #e7e9ee;
    border: 3px solid black;
}

input[type=date] {
    width: 15%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 8px;
    transition: 0.4s ease-in-out;
}

input[type=date]:focus {
    background-color: #e7e9ee;
    border: 3px solid black;
}




