header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #333;
    color: #fff;
    padding: 0 20px;
  }
  
  .header-left {
    font-weight: bold;
  }
  
  .header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ddd;
  }
  
a {
    text-decoration: none;
}