table.upcoming-watering {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    border: 1px solid black;
    width: 75%;
    display: grid;
}

table.upcoming-watering td, th {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}

table.upcoming-watering th {
    background-color: #dddddd;
    text-align: center;
}


table.add-plant {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    border: 1px solid black;
    width: 25%;
    display: grid;
}

table.add-plant td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

table.add-plant th {
    background-color: #dddddd;
}

h2.main-header {
    padding: 10px;
    text-align: left;
    background: cyan;
    color: black;
    font-size: 20px;
    }