<h1>Delete Plant</h1>
<form method="POST" action="{{ url_for('delete_plant') }}">
    <!-- <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for plant in plants %}
            <tr>
                <td>{{ plant.name }}</td>
                <td>
                    <input type="submit" name="delete" value="{{ plant.id }}">
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table> -->
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for plant in plants %}
            <tr>
                <td>{{ plant.name }}</td>
                <td>
                    <form action="{{ url_for('delete_plant', id=plant.id) }}" method="POST">
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>
