<!doctype html>
<html>
<head>
    <title>Plant Watering Schedule</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='delete_plant_style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index_style.css') }}">
</head>
<body>
    <h1 class="header">Delete Plants</h1>
    <br>
    <table class="plant-list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for plant in plants %}
            <tr>
                <td>{{ plant.name }}</td>
                <td>
                    <form action="{{ url_for('delete_plant', id=plant.id) }}" method="POST">
                        <input class="delete-btn" type="submit" value="Delete">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <form action="{{url_for('index')}}">
        <input class="return-btn" type="submit" value="Return">
    </form>    
</body>
</html>


