<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index_style.css') }}">
    <title>Plant Watering Schedule</title>
</head>
<body>
    {% if plants %}
        <h1 class="header">Upcoming Watering</h2>
        <table class="plant-list">
            <tr>
                <th>Name</th>
                <th>Days Between Watering</th>
                <th>Last Watered</th>
                <th>Next Watering</th>
                <th>Water Now</th>
            </tr>
            {% for plant in plants %}
            <tr>
                <td>{{ plant.name }}</td>
                <td>{{ plant.days_between_watering }}</td>
                <td>{{ plant.last_watered.strftime('%b %d') }}</td>
                <td>{{ plant.next_watering.strftime('%b %d') }}</td>
                <td>
                    <a class="water-now-btn" href="{{ url_for('water_plant', id=plant.id) }}">Water Now</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <br><br>
        <form action="{{ url_for('add_plant_page') }}" method="get">
            <input class="add-plant-btn" type="submit" value="Add Plant">
        </form>
        <br>
        <form action="{{ url_for('delete_plant_page') }}" method="get">
            <input class="return-btn" type="submit" value="Delete Plant">
        </form>
    {% else %}
        <h3 class="no-plant-header">It seems like you don't have any plants yet :(<br>
            Click below to add your first plant!
        </h3>
        <div class="btn-center">
            <a href="{{ url_for('add_first_plant_page') }}" class="add-first-plant-btn">Add your first plant</a>
        </div>
    {% endif %}
    


</body>
</html>
