<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Plant Watering Schedule</title>
</head>
<body>
    {% if plants %}
        <h2>Upcoming Watering</h2>
        <table class="upcoming-watering">
            <tr>
                <th>Name</th>
                <th>Days Between Watering</th>
                <th>Last Watered</th>
                <th>Next Watering</th>
                <th>Water Now</th>
            </tr>
            {% for plant in plants %}
            <tr>
                <td>{{ plant.name }}</td>
                <td>{{ plant.days_between_watering }}</td>
                <td>{{ plant.last_watered }}</td>
                <td>{{ plant.next_watering }}</td>
                <td>
                    <a href="{{ url_for('water_plant', id=plant.id) }}">Water Now</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <br><br>
        <h2>Actions</h2>
        <form action="{{ url_for('delete_plant_page') }}" method="get">
            <input type="submit" value="Delete Plant">
        </form>
        <form action="{{ url_for('add_plant_page') }}" method="get">
            <input type="submit" value="Add Plant">
        </form>
    {% else %}
        <a href="{{ url_for('add_first_plant_page') }}">Add your first plant</a>
    {% endif %}
    


</body>
</html>
